{{#if user}}
{{> menu}}
<div class="container">
    <div class="h-100 row align-items-center">
        <div class="col">
            {{#when user.tipo 'eq' 2}}
            <div class="container p-4">
                {{#each arreglo}}
                <div class="row">
                    <div class="col-md-12 my-2">
                        <div class="card border-info">
                            <div class="card-header">
                                <ul class="nav nav-pills card-header-pills">
                                    <li class="nav-item">
                                        <p class="h6 text-capitalize">Denunciante:&nbsp;{{denunciante}}</p>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <p class="h6 text-capitalize">Denunciado:&nbsp;{{denunciado}}</p>
                                    </li>
                                    <li class="nav-item">
                                        <p class="h6">Fecha:&nbsp;{{timeago fecha}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="text-break font-weight-normal">
                                    Publicación:
                                </div>
                                <div class="text-break font-weight-normal">
                                    {{publicacion}}
                                </div>
                                <div class="pt-1 text-right">
                                    <a href="/perfil/comentario/{{idPublicaciones}}" class="badge badge-info"
                                        role="button" aria-pressed="true">Ver más... </a>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <ul class="nav nav-pills card-header-pills">
                                    <li class="nav-item">
                                        <div class="text-break font-weight-bold">
                                            Motivo:&nbsp;{{descripcion}}
                                        </div>
                                    </li>
                                    <li class="nav-item ml-auto">
                                        <span>¿La denunca procede?&nbsp;</span>
                                        <a href="/perfil/denunciar/proceder/{{iddenuncias}}/1"
                                            class="btn btn-success btn-sm">Sí</a>
                                        <a href="/perfil/denunciar/proceder/{{iddenuncias}}/0"
                                            class="btn btn-danger btn-sm">No</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center border-info">
                        <p class="h6">No hay denuncias para mostrar</p>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div class="card text-center">
                <h1>No tiene autorización</h1>
            </div>
            {{/when}}
        </div>
    </div>
</div>
{{else}}
Debe registrarse...
{{/if}}